@import 'variable';
:host {
  display: flex;
  flex-direction: column;
}
.table-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .table-filter {
        margin-left: $m-16;
    }
}
.mat-table {
  flex: 1;
}
