<div class="exam-home-container">
  <div class="config-buttons">
    <button mat-raised-button color="primary">設定</button>
    <button mat-raised-button color="primary">排行榜</button>
  </div>
  <div class="exam-option">
    <mat-form-field>
      <mat-select value="test" placeholder="選擇要作答的題庫">
        <mat-option value="test">test</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="exam-button">
    <button mat-raised-button color="primary">開始作答</button>
  </div>
</div>
